* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* background-color: #916c51; */
  background-image: linear-gradient(#555c57, #d6929d);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: rgb(237, 232, 232);
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
} 

#nav-lists {
  display: flex;
  gap: 2rem;
  font-weight: 500;
  cursor: pointer;
}

.navbar-li {
  padding: 0.5rem 1rem;
}

.navbar-li:hover {
  color: #2d2f2e;
  background-color: #555655;
  border-radius: 6px;
}

#nav-lists li {
  list-style: none;
}

.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 1rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3rem 1rem;
  /* background-color: #555655; */
}

.Color-boxes{
  width: 70%;
  height: 20rem;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  backdrop-filter: blur(40px);
  border-radius: 10px;
}

.color-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* background-color: aqua; */
}

#box-head {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-align: center;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box-button {
  padding: 1.3rem 1.5rem;
  border: none;
  border-radius: 20px;
  /* background-color: rgb(95, 67, 11); */
  /* background-color: #6c6e6c; */
  background-color: rgb(28, 27, 25);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  border: 1px solid grey;
  color: rgb(249, 246, 241);
  letter-spacing: 0.1rem;
}

.box-button:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.box-colorcode{
  box-shadow: 0 13px 20px rgba(0, 0, 0, .3);
  padding: 1rem 2rem;
  border-radius: 66px;
}
